<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Page indépendante</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<main>
		<nav>
			<!-- Menu spécifique à cette page -->
			<a href="page2-accueil.php">Retour</a>
		</nav>
		<h1>Page indépendante affichant une image</h1>
		<h2>Les entêtes et la structure HTML sont répétés (copiés/collés)</h2>
		<p>{{ paragraphe }}</p>
		<img src="{{ url_image }}" alt="{{ alt_image }}">
	</main>
</body>

</html>
